# Configuration file

##########################################################################################################
# spoiling
#--------------------------------------------------------------------------------------------------------#
# Set the properties of spoliable items
##########################################################################################################

spoiling {

    item_GluttonyShard_GluttonyShard {
        S:01.ID=ForbiddenMagic:GluttonyShard
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=ForbiddenMagic:GluttonyShard
        I:"04.Rotten Damage"=-1

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=-1
    }

}


