# Configuration file

block {

    "GardenStuff:bloomery_furnace" {
        S:01.Name=GardenStuff:bloomery_furnace
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:fence" {
        S:01.Name=GardenStuff:fence
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:heavy_chain" {
        S:01.Name=GardenStuff:heavy_chain
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:hoop" {
        S:01.Name=GardenStuff:hoop
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:lantern" {
        S:01.Name=GardenStuff:lantern
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=glowstone
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:lattice" {
        S:01.Name=GardenStuff:lattice
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:lattice_wood" {
        S:01.Name=GardenStuff:lattice_wood
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:light_chain" {
        S:01.Name=GardenStuff:light_chain
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:metal_block" {
        S:01.Name=GardenStuff:metal_block
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:moss_brick" {
        S:01.Name=GardenStuff:moss_brick
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:root_cover" {
        S:01.Name=GardenStuff:root_cover
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "GardenStuff:stone_block" {
        S:01.Name=GardenStuff:stone_block
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


