# Configuration file

##########################################################################################################
# spoiling
#--------------------------------------------------------------------------------------------------------#
# Set the properties of spoliable items
##########################################################################################################

spoiling {

    item_pillsspoiling_pillspsoiling {
        S:01.ID=mo:android_pill
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=harvestcraft:honeyItem
        I:"04.Rotten Damage"=-1

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=-1
    }

}


