# Configuration file

##########################################################################################################
# biomes
#--------------------------------------------------------------------------------------------------------#
# Manually change the environmental properties of each biome
##########################################################################################################

biomes {

    "Tainted Land" {
        I:"01.Biome ID"=192
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Magical Forest" {
        I:"01.Biome ID"=193
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=23.512435412217695
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Eerie {
        I:"01.Biome ID"=194
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Eldritch {
        I:"01.Biome ID"=195
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

}


