# Configuration file

##########################################################################################################
# spoiling
#--------------------------------------------------------------------------------------------------------#
# Set the properties of spoliable items
##########################################################################################################

spoiling {

    item_diamondApple_diamondApple {
        S:01.ID=TConstruct:diamondApple
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=-1

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=-1
    }

    item_beefjerkyItem_beefjerkyItem {
        S:01.ID=harvestcraft:beefjerkyItem
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=-1

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=28
    }

}


