# Configuration file

##########################################################################################################
# biomes
#--------------------------------------------------------------------------------------------------------#
# Manually change the environmental properties of each biome
##########################################################################################################

biomes {

    "Twilight Clearing" {
        I:"01.Biome ID"=168
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=26.45033635316129
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Dark Forest" {
        I:"01.Biome ID"=169
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=23.512435412217695
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Dark Forest Center" {
        I:"01.Biome ID"=170
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=23.512435412217695
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Deep Mushroom Forest" {
        I:"01.Biome ID"=171
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=26.45033635316129
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Enchanted Forest" {
        I:"01.Biome ID"=172
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Fire Swamp" {
        I:"01.Biome ID"=173
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=31.819805153394636
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Twilight Glacier" {
        I:"01.Biome ID"=174
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=0.0
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Twilight Highlands" {
        I:"01.Biome ID"=175
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=cold

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=13.905764746872633
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Highlands Center" {
        I:"01.Biome ID"=176
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=10.50504210183448
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=0.0
    }

    "Twilight Lake" {
        I:"01.Biome ID"=177
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=salty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=22.295640599952108
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Firefly Forest" {
        I:"01.Biome ID"=178
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Mushroom Forest" {
        I:"01.Biome ID"=179
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=26.45033635316129
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Oak Savanna" {
        I:"01.Biome ID"=180
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=29.225162174858266
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Snowy Forest" {
        I:"01.Biome ID"=181
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=cold

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=4.410771314830227
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Twilight Stream" {
        I:"01.Biome ID"=182
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Twilight Swamp" {
        I:"01.Biome ID"=183
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=26.45033635316129
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    Thornlands {
        I:"01.Biome ID"=184
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=dirty

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=10.50504210183448
        D:"05.Temp Rate"=0.005
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.05
        D:"08.Air Quality Rate"=0.0
    }

    "Twilight Forest" {
        I:"01.Biome ID"=185
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=17.22075445642904
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

    "Dense Twilight Forest" {
        I:"01.Biome ID"=186
        B:"02.Allow Config Override"=false

        # Water Quality: dirty, salty, cold, clean
        S:"03.Water Quality"=clean

        # Biome temperature in celsius (Player body temp is offset by + 12C)
        D:"04.Ambient Temperature"=23.512435412217695
        D:"05.Temp Rate"=0.0
        D:"06.Sanity Rate"=0.0
        D:"07.Dehydrate Rate"=0.0
        D:"08.Air Quality Rate"=0.0
    }

}


