# Configuration file

~CONFIG_VERSION: 0.3.4.1

##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Options for the Matter overdrive client
##########################################################################################################

client {
    # Should Matter Overdrive check for newer versions, every time the world starts
    B:version_check=false
}


##########################################################################################################
# machine options
#--------------------------------------------------------------------------------------------------------#
# Machine Options.
##########################################################################################################

"machine options" {

    gravitational_stabilizer {
        # The volume of the Machine
        D:volume=1.0
    }

    solar_panel {
        # The volume of the Machine
        D:volume=1.0
    }

    replicator {
        # Sould vent particles be displayed
        B:particles.vent=true

        # The volume of the Machine
        D:volume=1.0

        # The volume of the replication animation
        D:volume.replicate=1.0
    }

    decomposer {
        # The volume of the Machine
        D:volume=1.0
    }

    matter_analyzer {
        # The volume of the Machine
        D:volume=1.0
    }

    pattern_monitor {
        # The volume of the Machine
        D:volume=1.0
    }

    fusion_reactor_controller {
        # The volume of the Machine
        D:volume=1.0
    }

    pattern_storage {
        # Sould vent particles be displayed
        B:particles.vent=true

        # The volume of the Machine
        D:volume=1.0
    }

    network_switch {
        # The volume of the Machine
        D:volume=1.0
    }

    matter_recycler {
        # The volume of the Machine
        D:volume=1.0
    }

    android_station {
        # The volume of the Machine
        D:volume=1.0
    }

    transporter {
        # The volume of the Machine
        D:volume=1.0
    }

}


##########################################################################################################
# matter network
#--------------------------------------------------------------------------------------------------------#
# Matter Network Options.
##########################################################################################################

"matter network" {
    # The maximum amount of network packet broadcasts per tick.
    I:"max broadcasts per tick"=128
}


##########################################################################################################
# matter registry
#--------------------------------------------------------------------------------------------------------#
# Configuration for the Matter Network
##########################################################################################################

"matter registry" {
    # Shoud Matter be automaticly calculated from Recipes [default: true]
    B:"automatic matter calculation from recipe"=true

    # Blacklist for items in the matter registry. Automatic Recipe calculation will ignore recipes with these items. Just add the unlocalized name or the ore dictionary name in the list.
    S:blacklist <
     >

    ##########################################################################################################
    # new items
    #--------------------------------------------------------------------------------------------------------#
    # Registration of new items and the amount of matter they contain. Add them like so: I:[unlocalized name or ore Dictionary name]=[matter amount]
    ##########################################################################################################

    "new items" {
    }

    ##########################################################################################################
    # item overrides
    #--------------------------------------------------------------------------------------------------------#
    # Overriding of existing items and the amount of matter they contain. Add them like so: I:[unlocalized name or ore Dictionary name]=[matter amount]
    ##########################################################################################################

    "item overrides" {
    }

}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Options form the Matter Overdrive server
##########################################################################################################

server {
    # Should the blocks drop entities or be directly consumed when destroyed by the gravitational anomaly [default: true]
    B:"gravitational anomaly block entities"=true

    # Should blocks be turned into falling blocks when broken [default: true]
    B:"gravitational anomaly falling blocks"=true
}


##########################################################################################################
# world gen
#--------------------------------------------------------------------------------------------------------#
# World Generation options.
##########################################################################################################

"world gen" {
    # Spawn Chance of Gravity Anomaly pre chunk [range: 0.0 ~ 1.0, default: 0.005]
    S:"gravitational anomaly spawn chance"=0.005

    # The spawn change of the Rouge Android [range: 0 ~ 100, default: 3]
    I:rouge_android.spawn.chance=3

    # Should Matter Overdrive Ore Blocks be Generated ?
    B:"spawn ores"=false

    # Should other Matter Overdrive World Blocks be Generated?
    B:"spawn other"=true
    B:spawn.tile.dilithium_ore=false
    B:spawn.tile.gravitational_anomaly=true
    B:spawn.tile.tritanium_ore=false
}


