# Configuration file

~CONFIG_VERSION: 0.4.0-RC1

##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Options for the Matter overdrive client
##########################################################################################################

client {
    # Use the custom holo shader for holographic items [default: true]
    B:"use holo shader"=true

    # Should Matter Overdrive check for newer versions, every time the world starts
    B:version_check=false
}


##########################################################################################################
# machine options
#--------------------------------------------------------------------------------------------------------#
# Machine Options.
##########################################################################################################

"machine options" {
    # The range of the Charge Station
    I:"charge station range"=16

    gravitational_stabilizer {
        # The volume of the Machine
        D:volume=1.0
    }

    solar_panel {
        # The volume of the Machine
        D:volume=1.0
    }

    replicator {
        # The total replication cost of each matter value. The energy cost is calculated like so: (matterAmount*EnergyCost)
        I:cost.replication.energy=1600000

        # Fail chance of the Replicator in percent.
        D:fail=0.05

        # Should vent particles be displayed
        B:particles.vent=true

        # The replication speed in ticks per matter value
        I:speed.replication=240

        # How much energy can the replicator hold
        I:storage.energy=512000

        # How much matter can the replicator hold
        I:storage.matter=1024

        # The volume of the Machine
        D:volume=1.0

        # The volume of the replication animation
        D:volume.replicate=1.0
    }

    decomposer {
        # Decomposing cost per matter
        I:cost.decompose=800000

        # The speed in ticks, of decomposing. (per matter)
        I:speed.decompose=160

        # How much energy can the Matter Decomposer hold
        I:storage.energy=512000

        # How much matter can the Matter Decomposer hold
        I:storage.matter=1024
        D:volume=1.0
    }

    matter_analyzer {
        # The volume of the Machine
        D:volume=1.0
    }

    pattern_monitor {
        # The volume of the Machine
        D:volume=1.0
    }

    fusion_reactor_controller {
        # The time delay between each structure check
        I:check.delay=40

        # The maximum distance of the anomaly
        I:distance.anomaly=3

        # How much matter is drained per tick. Dependant on the size of the anomaly as well
        D:drain.matter=0.0

        # The volume of the Machine
        D:volume=1.0
    }

    pattern_storage {
        # Sould vent particles be displayed
        B:particles.vent=true

        # How much energy can the Pattern Storage hold
        I:storage.energy=64000

        # The Transfer speed of the Pattern Storage
        I:transfer.energy=128

        # The volume of the Machine
        D:volume=1.0
    }

    network_switch {
        # The volume of the Machine
        D:volume=1.0
    }

    matter_recycler {
        # The volume of the Machine
        D:volume=1.0
    }

    android_station {
        # The volume of the Machine
        D:volume=1.0
    }

    transporter {
        # The volume of the Machine
        D:volume=1.0
    }

    star_map {
        # The volume of the Machine
        D:volume=1.0
    }

    charging_station {
        # The volume of the Machine
        D:volume=1.0
    }

}


##########################################################################################################
# matter network
#--------------------------------------------------------------------------------------------------------#
# Matter Network Options.
##########################################################################################################

"matter network" {
    # The maximum amount of network packet broadcasts per tick.
    I:"max broadcasts per tick"=128
}


##########################################################################################################
# matter registry
#--------------------------------------------------------------------------------------------------------#
# Configuration for the Matter Network
##########################################################################################################

"matter registry" {
    # Shoud Matter be automaticly calculated from Recipes [default: true]
    B:"automatic matter calculation from recipe"=true

    # Blacklist for items in the matter registry. Automatic Recipe calculation will ignore recipes with these items. Just add the unlocalized name or the ore dictionary name in the list.
    S:blacklist <
		RotaryCraft:rotarycraft_block_blastglass
		RotaryCraft:rotarycraft_block_blastpane
		RotaryCraft:rotarycraft_item_canola
		RotaryCraft:rotarycraft_item_ethanol
		RotaryCraft:rotarycraft_item_extracts
		RotaryCraft:rotarycraft_item_modextracts
		RotaryCraft:rotarycraft_item_customextract
		RotaryCraft:rotarycraft_item_engine
		RotaryCraft:rotarycraft_item_shaft
		RotaryCraft:rotarycraft_item_flywheel
		RotaryCraft:rotarycraft_item_gearbox
		RotaryCraft:rotarycraft_item_machine
		RotaryCraft:rotarycraft_item_bedaxe
		RotaryCraft:rotarycraft_item_bedboots
		RotaryCraft:rotarycraft_item_bedchest
		RotaryCraft:rotarycraft_item_bedgrafter
		RotaryCraft:rotarycraft_item_bedhelm
		RotaryCraft:rotarycraft_item_bedhoe
		RotaryCraft:rotarycraft_item_bedjump
		RotaryCraft:rotarycraft_item_bedlegs
		RotaryCraft:rotarycraft_item_bedpack
		RotaryCraft:rotarycraft_item_bedpick
		RotaryCraft:rotarycraft_item_bedreveal
		RotaryCraft:rotarycraft_item_bedsaw
		RotaryCraft:rotarycraft_item_bedshears
		RotaryCraft:rotarycraft_item_bedshovel
		RotaryCraft:rotarycraft_item_bedsickle
		RotaryCraft:rotarycraft_item_bedsword
		RotaryCraft:rotarycraft_item_upgrade
		ElectriCraft:electricraft_item_placer
		ElectriCraft:electricraft_item_battery
		ElectriCraft:electricraft_item_rfbattery
		ElectriCraft:electricraft_item_wire
		ElectriCraft:electricraft_block_wire
		ElectriCraft:electricraft_block_cable
		ReactorCraft:reactorcraft_item_fuel
		ReactorCraft:reactorcraft_item_breederfuel
		ReactorCraft:reactorcraft_item_plutonium
		ReactorCraft:reactorcraft_item_thorium
		ReactorCraft:reactorcraft_item_pellet
		ReactorCraft:reactorcraft_item_ingots
		ChromatiCraft:chromaticraft_block_chroma
		ChromatiCraft:chromaticraft_block_colorlock
		ChromatiCraft:chromaticraft_block_crystal
		ChromatiCraft:chromaticraft_block_decay
		ChromatiCraft:chromaticraft_block_decoplant
		ChromatiCraft:chromaticraft_block_dimdata
		ChromatiCraft:chromaticraft_block_dimgen
		ChromatiCraft:chromaticraft_block_dimgentile
		ChromatiCraft:chromaticraft_block_dye
		ChromatiCraft:chromaticraft_block_dyeflower
		ChromatiCraft:chromaticraft_block_dyegrass
		ChromatiCraft:chromaticraft_block_dyeleaf
		ChromatiCraft:chromaticraft_block_dyesapling
		ChromatiCraft:chromaticraft_block_ender
		ChromatiCraft:chromaticraft_block_fence
		ChromatiCraft:chromaticraft_block_glow
		ChromatiCraft:chromaticraft_block_glowleaf
		ChromatiCraft:chromaticraft_block_glowlog
		ChromatiCraft:chromaticraft_block_glowsapling
		ChromatiCraft:chromaticraft_block_gol
		ChromatiCraft:chromaticraft_block_golcontrol
		ChromatiCraft:chromaticraft_block_heatlamp
		ChromatiCraft:chromaticraft_block_hive
		ChromatiCraft:chromaticraft_block_hover
		ChromatiCraft:chromaticraft_block_lamp
		ChromatiCraft:chromaticraft_block_lampblock
		ChromatiCraft:chromaticraft_block_lockfence
		ChromatiCraft:chromaticraft_block_lockfreeze
		ChromatiCraft:chromaticraft_block_lockkey
		ChromatiCraft:chromaticraft_block_lootchest
		ChromatiCraft:chromaticraft_block_path
		ChromatiCraft:chromaticraft_block_plant
		ChromatiCraft:chromaticraft_block_portal
		ChromatiCraft:chromaticraft_block_powertree
		ChromatiCraft:chromaticraft_block_pylon
		ChromatiCraft:chromaticraft_block_pylonstruct
		ChromatiCraft:chromaticraft_block_rainbowcrystal
		ChromatiCraft:chromaticraft_block_rainbowleaf
		ChromatiCraft:chromaticraft_block_rainbowsapling
		ChromatiCraft:chromaticraft_block_relay
		ChromatiCraft:chromaticraft_block_rift
		ChromatiCraft:chromaticraft_block_rune
		ChromatiCraft:chromaticraft_block_structshield
		ChromatiCraft:chromaticraft_block_super
		ChromatiCraft:chromaticraft_block_tank
		ChromatiCraft:chromaticraft_block_tieredore
		ChromatiCraft:chromaticraft_block_tieredplant
		ChromatiCraft:chromaticraft_block_tilecrystal
		ChromatiCraft:chromaticraft_block_tilecrystalnoncube
		ChromatiCraft:chromaticraft_block_tileentity
		ChromatiCraft:chromaticraft_block_tilemodelled
		ChromatiCraft:chromaticraft_block_tilemodelled2
		ChromatiCraft:chromaticraft_block_tileplant
		ChromatiCraft:chromaticraft_block_tnt
		ChromatiCraft:chromaticraft_block_voidrift
		ChromatiCraft:chromaticraft_item_aurapouch
		ChromatiCraft:chromaticraft_item_berry
		ChromatiCraft:chromaticraft_item_bucket
		ChromatiCraft:chromaticraft_item_builder
		ChromatiCraft:chromaticraft_item_bulkmover
		ChromatiCraft:chromaticraft_item_capture
		ChromatiCraft:chromaticraft_item_chaingun
		ChromatiCraft:chromaticraft_item_cluster
		ChromatiCraft:chromaticraft_item_crafting
		ChromatiCraft:chromaticraft_item_dimgen
		ChromatiCraft:chromaticraft_item_duplicator
		ChromatiCraft:chromaticraft_item_dye
		ChromatiCraft:chromaticraft_item_elemental
		ChromatiCraft:chromaticraft_item_endercrystal
		ChromatiCraft:chromaticraft_item_excavator
		ChromatiCraft:chromaticraft_item_finder
		ChromatiCraft:chromaticraft_item_fragment
		ChromatiCraft:chromaticraft_item_growth
		ChromatiCraft:chromaticraft_item_help
		ChromatiCraft:chromaticraft_item_hoverwand
		ChromatiCraft:chromaticraft_item_lens
		ChromatiCraft:chromaticraft_item_link
		ChromatiCraft:chromaticraft_item_linktool
		ChromatiCraft:chromaticraft_item_misc
		ChromatiCraft:chromaticraft_item_modinteract
		ChromatiCraft:chromaticraft_item_multitool
		ChromatiCraft:chromaticraft_item_orepick
		ChromatiCraft:chromaticraft_item_oresilk
		ChromatiCraft:chromaticraft_item_pendant
		ChromatiCraft:chromaticraft_item_pendant3
		ChromatiCraft:chromaticraft_item_placer
		ChromatiCraft:chromaticraft_item_potion
		ChromatiCraft:chromaticraft_item_rift
		ChromatiCraft:chromaticraft_item_seed
		ChromatiCraft:chromaticraft_item_shard
		ChromatiCraft:chromaticraft_item_shoo
		ChromatiCraft:chromaticraft_item_splashgun
		ChromatiCraft:chromaticraft_item_storage
		ChromatiCraft:chromaticraft_item_teleport
		ChromatiCraft:chromaticraft_item_tiered
		ChromatiCraft:chromaticraft_item_tool
		ChromatiCraft:chromaticraft_item_transition
		ChromatiCraft:chromaticraft_item_vacuumgun
		ChromatiCraft:chromaticraft_item_voidcell
		ChromatiCraft:chromaticraft_item_warp
     >

    ##########################################################################################################
    # new items
    #--------------------------------------------------------------------------------------------------------#
    # Registration of new items and the amount of matter they contain. Add them like so: I:[unlocalized name or ore Dictionary name]=[matter amount]
    ##########################################################################################################

    "new items" {
    }

    ##########################################################################################################
    # item overrides
    #--------------------------------------------------------------------------------------------------------#
    # Overriding of existing items and the amount of matter they contain. Add them like so: I:[unlocalized name or ore Dictionary name]=[matter amount]
    ##########################################################################################################

    "item overrides" {
    }

}


output {

    energy {
        # The Energy Output per tick. Dependant on the size of the anomaly as well
        I:tile.fusion_reactor_controller=2048
    }

}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Options form the Matter Overdrive server
##########################################################################################################

server {
    # Should the blocks drop entities or be directly consumed when destroyed by the gravitational anomaly [default: true]
    B:"gravitational anomaly block entities"=true

    # Should blocks be turned into falling blocks when broken [default: true]
    B:"gravitational anomaly falling blocks"=true

    # Should other mod fluid blocks be consumed by the anomaly [default: true]
    B:"gravitational anomaly forge fluids"=true

    # Should vanilla fluid block such as water and lava be consumed by the anomaly [default: true]
    B:"gravitational anomaly vanilla fluids"=true
}


##########################################################################################################
# starmap
#--------------------------------------------------------------------------------------------------------#
# Star Map Galaxy Options
##########################################################################################################

starmap {
    # The multiplier for the building and ship building times [range: 0.0 ~ 10.0, default: 1.0]
    S:"galaxy build time multiply"=1.0

    # The multiplier for the ship travel times [range: 0.0 ~ 10.0, default: 1.0]
    S:"galaxy travel time multiply"=1.0

    # The maximum amount of planets pre star system [range: 0 ~ 8, default: 4]
    I:max_planet_count=4

    # The maximum amount of stars in a galaxy [range: 0 ~ 512000, default: 2304]
    I:max_star_count=2304

    # The minimum amount of planets per star system [range: 0 ~ 8, default: 1]
    I:min_planet_count=1

    # The minimum amount of stars in a galaxy [range: 0 ~ 512000, default: 2048]
    I:min_star_count=2048

    # The chance of adding a prefix to a Star System's name [range: 0.0 ~ 1.0, default: 1.0]
    S:name_prefix_chance=1.0

    # The chance of adding a suffix to a Star System's name [range: 0.0 ~ 1.0, default: 0.8]
    S:name_suffix_chance=0.8

    # The amount of quadrants the galaxy should be divided into. The amount is cubed. x ^ 3. For example 3 ^ 3 = 27 quadrants. [range: 1 ~ 6, default: 3]
    I:quadrant_count=3
}


storage {

    energy {
        # How much energy can the Fusion Reactor Controller hold
        I:tile.fusion_reactor_controller=100000000
    }

    matter {
        # How much matter can the Fusion Reactor Controller hold
        I:tile.fusion_reactor_controller=2048
    }

}


##########################################################################################################
# world gen
#--------------------------------------------------------------------------------------------------------#
# World Generation options.
##########################################################################################################

"world gen" {
    # Spawn Chance of Gravity Anomaly pre chunk [range: 0.0 ~ 1.0, default: 0.005]
    S:"gravitational anomaly spawn chance"=0.01

    # Dimension id's in which the gravitational anomaly should spawn in
    I:gravitational_anomaly_dimensions <
        -28
     >

    # A blacklist of all the Dimensions ores shouldn't spawn in
    I:ore_gen_blacklist <
        -1
        2
     >

    # The spawn change of the Rogue Android [range: 0 ~ 100, default: 3]
    I:rogue_android.spawn.chance=3

    # The blacklist for Android spawn biomes [default: [Hell], [Sky]]
    S:rouge.biome.blacklist <
        Hell
        Sky
     >
    I:rouge_android.spawn.chance=3

    # Should Matter Overdrive Ore Blocks be Generated ?
    B:"spawn ores"=false

    # Should other Matter Overdrive World Blocks be Generated?
    B:"spawn other"=true
    B:spawn.tile.dilithium_ore=false
    B:spawn.tile.gravitational_anomaly=true
    B:spawn.tile.tritanium_ore=false
}


