# Minecraft #
/asm/
/assets/
/backups/
/bin/
/ChromatiCraft_Data/
/configArchive/
/crash-reports/
/disabledmods/
/dumps/
/fonts/
/imcScripts/
/jarmods/
/journeymap/
/logs/
/maps/
/mods/
/resourcepacks/
/saves/
/screenshots/
/shaderpacks/
/tcnodetracker/
/config/draconicevolution/
/llibrary/

# Custom Ore Gen default templates #
/config/CustomOreGen/modules/default/
/config/CustomOreGen/CustomOreGen_Config_Default.xml

# Root Folder #
betterfps.txt
instance.json
minetweaker.log
options.txt
usernamecache.json
**/fastcraft.ini
BotaniaVars.dat
optionsshaders.txt
servers.dat
usercache.json
**/iChunUtil.cfg
**/InvTweaks.cfg
**/InvTweaksRules.txt
**/splash.properties


# Miscellaneous #
*.log
*.dll
*.jar
*.zip
*.ogg
Reika.DragonAPI.ModInteract.DeepInteract.FrameBlacklist.classdata
