---
layout: page
title: Revolution Pack by Haggle1996
headline: Recent Updates
excerpt: "Revolution Pack by Haggle1996"
search_omit: true
image:
  feature: front2.png
---

<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
    <a href="{{ site.url }}/blog">Older Items...</a>
</ul>
