# Configuration file

Aluminium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=false
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xabaeb0
    D:energy=1.0
    S:extra=Tin
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Ardite {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xad3900
    D:energy=3.0
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Cadmium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x0
    D:energy=1.0
    S:extra=Cadmium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Cobalt {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x134d9b
    D:energy=3.0
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Copper {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xa66e41
    D:energy=1.0
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Custom {
    # Add ore names that will be turned into Mekanism gases (First letter must be capitalised). Example: Iron,Gold,Titanium
    S:gases=

    # Add prefixes separated by commas.
    # Textures will be aobd:prefix and aobd:prefix_overlay.
    # Example: dust,cluster
    S:items=
}


ElnTungsten {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x312b27
    D:energy=1.0
    S:extra=ElnTungsten
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Gold {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xb4a62c
    D:energy=1.0
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


HeeEndium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x92b9d7
    D:energy=1.0
    S:extra=HeeEndium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Indium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x0
    D:energy=1.0
    S:extra=Indium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Iron {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x878787
    D:energy=1.0
    S:extra=Nickel
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Lead {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x6b6d83
    D:energy=1.0
    S:extra=Silver
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Mithril {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xa6b9c3
    D:energy=1.0
    S:extra=Mithril
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Nickel {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xbbb8a1
    D:energy=1.0
    S:extra=Platinum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Osmium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x9ca6b4
    D:energy=2.0
    S:extra=Osmium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Platinum {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xa4c8e8
    D:energy=1.0
    S:extra=Platinum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Recipes {
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Silicon {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x14141d
    D:energy=1.0
    S:extra=Silicon
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Silver {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xc6cfd2
    D:energy=1.0
    S:extra=Lead
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Tin {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xadb2b2
    D:energy=1.0
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Yellorium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x8d9433
    D:energy=1.0
    S:extra=Yellorium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


