# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=d8772091-8e50-439f-8d33-55d3068948c4

    # Set to true to disable all reporting
    B:opt-out=false
}


