# Configuration file

general {
    # Whether to enable the library system for sharing tails. This mostly matters on servers. [default: true]
    B:"Enable Library"=true

    #  [default: Local Players data. Delete to remove all customisation data. Do not try to edit manually]
    S:"Local Player Data"=Local Players data. Delete to remove all customisation data. Do not try to edit manually
}


