# Configuration file

areamining {
    # Item required for 1x3 AoE Mining
    S:1x3Item=minecraft:coal

    # Number of levels required for 3x3 Mining
    I:1x9XPRequired=30

    # Unlocalized name of tools for blacklisting (Comma separated)
    S:3x1blacklist=

    # Item required for 3x3 AoE Mining
    S:3x3Item=minecraft:coal

    # Unlocalized name of tools for blacklisting (Comma separated)
    S:3x3blacklist=

    # Enable 1x3 mining upgrade
    B:Enable1x3=true

    # Enable 3x3 mining ugprade
    B:Enable3x3=true

    # Number of levels required for 1x3 Mining
    I:areaXPRequired=30

    # When AOE blocks are broken, should they play a sound and make particles
    B:noisyBlock=true

    # Speed multipler applied to 3x1 tools. To make them mine slower (or faster I guess) [range: 0.01 ~ 5.0, default: 0.4]
    S:speedMult3x1=0.4

    # Speed multipler applied to 3x3 tools. To make them mine slower (or faster I guess) [range: 0.01 ~ 5.0, default: 0.2]
    S:speedMult3x3=0.2
}


featuresallowed {
    B:allow3x1Axe=true
    B:allow3x1Pick=true
    B:allow3x1Shovel=true
    B:allow3x3Hoe=true
    B:allow3x3Pick=true
    B:allow3x3Shovel=true
    B:allowPlace=true
    B:allowSwordAOE=true
}


hoearea {
    # Unlocalized name of tools for blacklisting (Comma separated)
    S:blacklist=

    # Item required for Hoe to cut grass in a 3x3
    S:hoeAreaItem=minecraft:wheat_seeds

    # Number of levels required for Hoe to cut grass in 3x3
    I:hoeAreaXPRequired=10
}


modules {
    B:mekanism=true

    # Allow Mekanism Paxels to receive upgrades
    B:mekanismPaxel=true
}


rightclick {
    # Enable Right Click Placing
    B:Enable=true

    # Item required for Right Click Placing
    S:Item=minecraft:torch

    # Number of levels required for Right Click Placing
    I:XPRequired=10

    # Blacklisted items for Right Click Placing
    S:blacklist=

    # Unlocalized name of tools for blacklisting (Comma separated)
    S:toolBlacklist=
}


swordarea {
    # Unlocalized name of tools for blacklisting (Comma separated)
    S:blacklist=

    # Item required for the sword AOE upgrade
    S:swordAreaItem=minecraft:feather

    # XP required for the sword AOE upgrade
    I:swordAreaXP=10
}


