# Configuration file

"control setup" {
    B:"Alternate Brick Recipes"=false
    B:"Banded Generation"=false
    B:"Generate Rock in Other Dimensions"=true
    B:"Generate Rock in the Twilight Forest"=true
    I:"Ore Mode"=0
    B:Retrogeneration=false
    D:"Rock Density"=1.0
    D:"Vent Density"=1.0
    B:"Waila Overlay"=true
}


"rock band heights" {
    I:BASALT=0
    I:GNEISS=0
    I:GRANITE=0
    I:GRANULITE=0
    I:HORNFEL=0
    I:LIMESTONE=0
    I:MARBLE=0
    I:MIGMATITE=0
    I:ONYX=0
    I:OPAL=0
    I:PERIDOTITE=0
    I:PUMICE=0
    I:QUARTZ=0
    I:SANDSTONE=0
    I:SCHIST=0
    I:SHALE=0
    I:SLATE=0
}


