# Configuration file

"achievement ids" {
    I:AMMONIA=72012
    I:CANDU=72019
    I:DECAY=72010
    I:DEPLETED=72005
    I:ESCAPE=72021
    I:FIFTYGW=72024
    I:FISSION=72006
    I:FUSION=72023
    I:GIGATURBINE=72014
    I:HEAVYWATER=72018
    I:HOLDWASTE=72009
    I:HOTCORE=72015
    I:MELTDOWN=72017
    I:MELTPIPE=72022
    I:MINECADMIUM=72002
    I:MINEURANIUM=72001
    I:NH3EXPLODE=72013
    I:PEBBLE=72003
    I:PEBBLEFAIL=72025
    I:PLASMA=72020
    I:PLASMADIE=72027
    I:PLUTONIUM=72007
    I:PUPOISON=72008
    I:RECUSEBOOK=72000
    I:SCRAM=72016
    I:THORIUMDUMP=72026
    I:UF6=72004
    I:WASTELEAK=72011
}


"client specific" {
    B:"[VC402F87D] Visible Neutrons"=true
}


"control setup" {
    B:"Allow Fluorite Recoloring"=false
    B:"Fission Cores Chunkload When Active"=true
    B:"Generate Cadmium Ore Even If Other Mods Do"=true
    B:"Generate Calcite Ore Even If Other Mods Do"=true
    B:"Generate Indium Ore Even If Other Mods Do"=true
    B:"Generate Magnetite Ore Even If Other Mods Do"=true
    B:"Generate Silver Ore Even If Other Mods Do"=true
    I:"Ore Density Percentage"=100
    I:"Ore Discretization"=1
    B:"Rainbow Fluorite"=false
    B:"Retrogen Ores"=false
    I:"Toroid Spark Delay"=4
}


other {
    I:"Radiation Effect ID"=140
}


